.list-discover-page{
    ion-item-divider{
        height: 20px;
        min-height: 20px;
    }

    .item-block{
        min-height: 3.2rem;

        &:nth-child(2){
            border-top: .5px solid #E5E5E5;
        }
        
        &:last-child{
            border-bottom: .5px solid #E5E5E5;
        }

        ion-label{
            font-size: 1.5rem;
            margin: 2px 8px 2px 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            img{
                width: 23px;
                height: 23px;
                margin-right: 15px;
            }
        }
        
        .item-inner{
            border-bottom-color: #E5E5E5;
        }
    }
}